src/config.zon
.zig-cache/
zig-out/
build_and_deploy.ps1
deploy.sh
deploy.txt
src/config.live.zon
src/config.local.zon
public_html/index.cgi
src/config.prod.zon
/sessions
/public_html/sessions
.DS_Store
.DS_Store
